$color-main: #9b2529;
$color-bg: #f7f7f7;

// .sf-button.sf-button--full-width,
// .sf-add-to-cart__button,
// .sf-notification {
//   color: $color-main;
// }

// .sf-header__link,
// .sf-header-navigation-item {
//   color: $color-main;
//   &:active {
//     color: $color-main;
//   }
// }

// .sf-header__link,
// .sf-header-navigation-item {
//   border-bottom-color: $color-main;
//   &:hover {
//     border-bottom-color: $color-main;
//   }
//   &:focus {
//     border-bottom-color: $color-main;
//   }
// }

// .sf-rating__icon.sf-icon {
//   fill: $color-main;
//   &.sf-rating__icon--negative {
//     fill: gray;
//   }
// }

// .footer__link {
//   font-weight: 500;
//   &:hover {
//     color: $color-main;
//     text-decoration: underline;
//   }
// }

.sw-default-section {
  min-height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.text-hide {
  display: none;
  height: 340px;
}
.sf-header.sw-header {
  position: relative;
  width: 100%;
  left: 0;
}
.sf-top-bar.sw-top-bar {
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 100%
  ) !important;
  // margin-bottom: 146px;
}

.sf-header__wrapper {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ) !important;
}
.main-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: lighten($color-main, 10) !important;

  &:hover {
    text-decoration: underline;
    color: $color-main !important;
  }
}

.cms-block-default h2 {
  margin-bottom: 10rem;
}

.text {
  &-default {
    font-size: 1.5rem;
    max-width: 1200px;
    margin: 0 auto !important;
  }
  &-title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 700;
  }
}
.card {
  text-align: center;
  &-title {
    font-size: 1.7rem;
    font-weight: 700;
  }
  &-content {
    font-size: 1rem;
    margin: 0 auto !important;
  }
}
.cms-block-image-text-gallery__container__column {
  width: 400px;

  .sf-image {
    width: 10rem;
    margin: auto;
  }
}
.cms-block-image-text-gallery__container {
  width: 1300px;
  margin: 2rem auto !important;
}
