<template>
  <a
    :class="ReturnClass"
    :style="dynamicColor"
    @mouseover="hover = true"
    @mouseleave="hover = false"
    :href="Link"
  >
    <img
      v-if="Clickable"
      class="button-hex-image"
      :style="dynamicFilter"
      :src="Image"
      alt="logo"
    />
  </a>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

interface IPosition {
  top: number;
  left: number;
}

@Component
export default class HexButton extends Vue {
  @Prop({ type: Object, required: true }) readonly Position!: IPosition;
  @Prop({ type: Boolean, required: true }) readonly Clickable!: boolean;
  @Prop({ type: String, required: false }) readonly Image!: string;
  @Prop({ type: String, required: false }) readonly Color!: string;
  @Prop({ type: String, required: false }) readonly Link!: string;

  hover: boolean = false;

  get ReturnClass(): string {
    if (this.Clickable) {
      return "button-hex hover";
    } else {
      return "button-hex";
    }
  }
  get dynamicColor() {
    if (this.hover && this.Clickable) {
      console.log(this.hover);
      return {
        backgroundColor: this.Color
        // filter: "brightness(0) invert(1)",
      };
    } else {
      return {};
    }
  }
  get dynamicFilter() {
    if (this.hover && this.Clickable) {
      return {
        filter: "brightness(0) invert(1)"
      };
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/customvariables.scss";

.button-hex {
  background-color: white;
  height: 198px;
  width: 224px;
  mask: url("~@/static/polygon.svg");
  mask-type: luminance;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  &.hover:hover {
    cursor: pointer;
  }
  &-image {
    position: absolute;
    width: 9rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 500px) {
  }
}
</style>
