<template>
  <div
    class="section-hex"
    :style="{ 'background-image': 'url(' + bgImage + ')' }"
  >
    <div class="hex">
      <div class="hex-content"><slot></slot></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class HexSection extends Vue {
  @Prop({ type: String, required: true }) readonly bgImage!: string;
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/customvariables.scss";
@import "@/assets/scss/variables";
.hex {
  height: 900px;
  width: 1400px;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background-image: url("~@/static/hex.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  @media (max-width: 500px) {
    right: -20%;
    transform: translate(50%, -50%);
  }

  @include for-desktop {
    height: 1200px;
    width: 1400px;
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
  }
  &-content {
    position: absolute;
    top: 15%;
    left: 15%;
    max-width: 400px;
    line-height: 1rem;
    margin-left: 0.5rem;
    @include for-desktop {
      margin-left: 0rem;
      top: 25%;
      max-width: 520px;
    }
  }
  &-header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #b2b2b2;
    @include for-desktop {
      font-size: 2rem;
    }
  }
  &-subheader {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    @include for-desktop {
      font-size: 1.5rem;
    }
  }
  &-text {
    line-height: 2rem;
  }
}

.section-hex {
  position: relative;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  @include for-desktop {
    min-height: 900px;
  }
}
</style>
