<template>
  <div class="imagecard">
    <img class="imagecard-icon" :src="Image" alt="icon" />
    <div class="imagecard-title">{{ Title }}</div>
    <div class="imagecard-text">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class ImageCard extends Vue {
  @Prop({ type: String, required: true }) readonly Image!: string;
  @Prop({ type: String, required: true }) readonly Title!: string;
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/customvariables.scss";
@import "@/assets/scss/variables";

.imagecard {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  margin: 0 1rem;
  &-title {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    @include for-desktop {
      font-size: 2rem;
    }
  }
  &-icon {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  &-text {
    @include for-desktop {
      font-size: 1.2rem;
      margin-bottom: 0rem;
    }
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}
</style>
