<template>
  <a :class="getClass" :href="link.href"><slot></slot></a>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

interface ILink {
  href: string;
  type: linkType;
}

enum linkType {
  small,
  big
}

@Component
class CustomLink extends Vue {
  @Prop({ type: Object, required: true }) readonly link!: ILink;

  get getClass(): string {
    if (this.link.type === linkType.small) {
      return `link-small`;
    } else {
      return `link-big`;
    }
  }
}

export default CustomLink;
export { linkType };
</script>

<style lang="scss" scoped>
@import "@/assets/scss/customvariables.scss";
@import "@/assets/scss/variables";
.link {
  &-small {
    color: $color-main;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2rem;
    &:hover {
      color: lighten($color-main, 10%);
      text-decoration: underline;
    }
  }
  &-big {
    font-weight: 700;
    font-size: 1rem;
    display: block;
    padding-bottom: 0.2rem;
    margin: auto;
    color: lighten($color-main, 10) !important;
    @include for-desktop {
      display: inline;
      font-size: 1.3rem;
      font-weight: 500;
    }

    &:hover {
      @include for-desktop {
        border-bottom: 2px solid $color-main;
      }
      color: $color-main !important;
    }
  }
}
</style>
