<template>
  <div class="product-card">
    <div class="sf-product-card__image-wrapper">
      <slot
        name="image"
        v-bind="{ image, title, link, imageHeight, imageWidth }"
      >
        <SfLink :link="link" class="sf-product-card__link">
          <template v-if="Array.isArray(image)">
            <SfImage
              v-for="(picture, key) in image.slice(0, 2)"
              :key="key"
              class="product-card__picture"
              :src="picture"
              :alt="title"
              :width="imageWidth"
              :height="imageHeight"
            />
          </template>
          <SfImage
            v-else
            class="product-card__image"
            :src="image"
            :alt="title"
            :width="imageWidth"
            :height="imageHeight"
          />
        </SfLink>
      </slot>
      <slot name="badge" v-bind="{ badgeLabel, badgeColor }">
        <SfBadge
          v-if="badgeLabel"
          class="sf-product-card__badge"
          :class="badgeColorClass"
          >{{ badgeLabel }}</SfBadge
        >
      </slot>
      <SfButton
        v-if="wishlistIcon !== false"
        :aria-label="`${ariaLabel} ${title}`"
        :class="wishlistIconClasses"
        @click="toggleIsOnWishlist"
      >
        <slot name="wishlist-icon" v-bind="{ currentWishlistIcon }">
          <SfIcon
            :icon="currentWishlistIcon"
            size="22px"
            data-test="sf-wishlist-icon"
          />
        </slot>
      </SfButton>
      <template v-if="showAddToCartButton">
        <slot
          name="add-to-cart"
          v-bind="{
            isAddedToCart,
            showAddedToCartBadge,
            isAddingToCart,
            title
          }"
        >
          <SfCircleIcon
            class="product-card__add-button"
            :aria-label="`Add to Cart ${title}`"
            :has-badge="showAddedToCartBadge"
            :disabled="addToCartDisabled"
            @click="onAddToCart"
          >
            <div class="sf-product-card__add-button--icons">
              <transition name="sf-pulse" mode="out-in">
                <slot v-if="!isAddingToCart" name="add-to-cart-icon">
                  <SfIcon
                    key="add_to_cart"
                    icon="add_to_cart"
                    size="20px"
                    color="white"
                  />
                </slot>
                <slot v-else name="adding-to-cart-icon">
                  <SfIcon
                    key="added_to_cart"
                    icon="added_to_cart"
                    size="20px"
                    color="white"
                  />
                </slot>
              </transition>
            </div>
          </SfCircleIcon>
        </slot>
      </template>
    </div>
    <slot name="title" v-bind="{ title, link }">
      <SfLink :link="link" class="sf-product-card__link">
        <h3 class="product-card__title">
          {{ title }}
        </h3>
      </SfLink>
    </slot>
    <slot name="price" v-bind="{ specialPrice, regularPrice }">
      <SfPrice
        v-if="regularPrice"
        class="product-card__price"
        :regular="regularPrice"
        :special="specialPrice"
      />
    </slot>
    <slot name="reviews" v-bind="{ maxRating, scoreRating }">
      <div
        v-if="typeof scoreRating === 'number'"
        class="sf-product-card__reviews"
      >
        <SfRating
          class="sf-product-card__rating"
          :max="maxRating"
          :score="scoreRating"
        />
        <SfButton
          v-if="reviewsCount"
          :aria-label="`Read ${reviewsCount} reviews about ${title}`"
          class="sf-button--pure sf-product-card__reviews-count"
          @click="$emit('click:reviews')"
        >
          ({{ reviewsCount }})
        </SfButton>
      </div>
    </slot>
  </div>
</template>

<script lang="ts">
import { colorsValues as SF_COLORS } from "@storefront-ui/shared/variables/colors";
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import SfIcon from "@storefront-ui/vue/src/components/atoms/SfIcon/SfIcon.vue";
import SfLink from "@storefront-ui/vue/src/components/atoms/SfLink/SfLink.vue";
import SfPrice from "@storefront-ui/vue/src/components/atoms/SfPrice/SfPrice.vue";
import SfRating from "@storefront-ui/vue/src/components/atoms/SfRating/SfRating.vue";
import SfImage from "@storefront-ui/vue/src/components/atoms/SfImage/SfImage.vue";
import SfCircleIcon from "@storefront-ui/vue/src/components/atoms/SfCircleIcon/SfCircleIcon.vue";
import SfBadge from "@storefront-ui/vue/src/components/atoms/SfBadge/SfBadge.vue";
import SfButton from "@storefront-ui/vue/src/components/atoms/SfButton/SfButton.vue";

@Component({
  components: {
    SfPrice,
    SfRating,
    SfIcon,
    SfImage,
    SfLink,
    SfCircleIcon,
    SfBadge,
    SfButton
  }
})
export default class ProductCard extends Vue {
  @Prop({ type: [Array, Object, String], default: "" })
  readonly image!: string;
  @Prop({ type: [String, Number], default: 216 }) readonly imageWidth!: number;
  @Prop({ type: [String, Number], default: 326 }) readonly imageHeight!: number;
  @Prop({ type: String, default: "" }) readonly badgeLabel!: string;
  @Prop({ type: String, default: "" }) readonly badgeColor!: string;
  @Prop({ type: String, default: "" }) readonly title!: string;
  @Prop({ type: [String, Object], default: "" }) readonly link!:
    | string
    | object;
  @Prop({ type: String, default: undefined }) readonly linkTag!:
    | string
    | undefined;
  @Prop({ type: [Number, Boolean], default: false })
  readonly scoreRating!: boolean;
  @Prop({ type: [Number, Boolean], default: false })
  readonly reviewsCount!: boolean;
  @Prop({ type: [Number, String], default: 5 })
  readonly maxRating!: number;
  @Prop({ type: [Number, String], default: null })
  readonly regularPrice!: number | null;
  @Prop({ type: [Number, String], default: null })
  readonly specialPrice!: number | null;
  @Prop({ type: [String, Array, Boolean], default: "heart" })
  readonly wishlistIcon!: string;
  @Prop({ type: [String, Array], default: "heart_fill" })
  readonly isOnWishlistIcon!: string;
  @Prop({ type: Boolean, default: false })
  readonly isOnWishlist!: boolean;
  @Prop({ type: Boolean, default: false })
  readonly showAddToCartButton!: boolean;
  @Prop({ type: Boolean, default: false })
  readonly isAddedToCart!: boolean;
  @Prop({ type: Boolean, default: false })
  readonly addToCartDisabled!: boolean;
  isAddingToCart: boolean = false;

  onAddToCart(event: any) {
    event.preventDefault();
    this.isAddingToCart = true;
    setTimeout(() => {
      this.isAddingToCart = false;
    }, 1000);
    this.$emit("click:add-to-cart");
  }
  
  toggleIsOnWishlist() {
    this.$emit("click:wishlist", !this.isOnWishlist);
  }

  get isSFColors() {
    return SF_COLORS.includes(this.badgeColor.trim());
  }
  get badgeColorClass() {
    return this.isSFColors ? `${this.badgeColor.trim()}` : "";
  }
  get currentWishlistIcon() {
    return this.isOnWishlist ? this.isOnWishlistIcon : this.wishlistIcon;
  }
  get showAddedToCartBadge() {
    return !this.isAddingToCart && this.isAddedToCart;
  }
  get ariaLabel() {
    return this.isOnWishlist ? "Remove from wishlist" : "Add to wishlist";
  }
  get wishlistIconClasses() {
    const defaultClass = "sf-button--pure sf-product-card__wishlist-icon";
    return `${defaultClass} ${
      this.isOnWishlist ? "sf-product-card--on-wishlist" : ""
    }`;
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/customvariables.scss';
@import '../../assets/scss/variables.scss';

.product-card{ 
  
    border-radius: 50%;
    padding: var(--product-card-padding, var(--spacer-xs));
  
    background-color: $color-main;

    text-align: center;
    
    box-sizing: border-box;

    flex: 0 1 var(--product-card-max-width, 10.625rem);
    
    flex-basis: 50%;
    max-width: 50%;

    position: relative;
    z-index: var(--product-card-z-index);

    @media (min-width: 480px){
      flex-basis: 33%;
      max-width: 33%;
    }
    @media (min-width: $tablet-min){
      flex-basis: 25%;
      max-width: 25%;
    }

    @media (min-width: $desktop-min){
      flex-basis: 20%;
      max-width: 20%;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: var(--product-card-transition);
      box-shadow: var(--product-card-box-shadow);
    }
    &:hover {
      --product-card-image-opacity: 1;
      --product-card-image-even-opacity: 1;
      --product-card-wishlist-icon-opacity: 1;
      --product-card-add-button-opacity: 1;
      --product-card-z-index: 1;
      --product-card-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }
    &:active {
      --product-card-box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
    }
    @include for-desktop {
      --product-card-max-width: 15.5rem;
      --product-card-padding: var(--spacer-sm);
      --product-card-title-margin: var(--spacer-xl) 0 0 0;
      --product-card-transition: box-shadow 150ms ease-in-out;
      --product-card-wishlist-icon-top: var(--spacer-base);
      --product-card-wishlist-icon-right: var(--spacer-base);
      --product-card-wishlist-icon-opacity: 0;
      --product-card-add-button-display: flex;
    }
  &__image,
  &__picture {
    transition: var(--product-card-image-transition, opacity 150ms ease-in-out);
    opacity: var(--product-card-image-opacity);
    border-radius: 50% 50% 0 0;
    &:nth-child(even) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: var(--product-card-image-even-opacity, 0);
    }
  }
  &__add-button {
    --circle-icon-position: absolute;
    --button-box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
    right: var(--product-card-add-button-right, 1rem);
    @include for-desktop{
      right: var(--product-card-add-button-right, 4rem);
    }
    bottom: var(--product-card-add-button-bottom, 0);
    display: var(--product-card-add-button-display, none);
    transform: var(--product-card-add-button-transform, translate3d(0, 50%, 0));
    opacity: var(--product-card-add-button-opacity, 1);
    &:focus {
      --product-card-add-button-opacity: 1;
    }
  }
  &__title {
    margin: var(--product-card-title-margin, var(--spacer-xs) 0 0 0);
    @include font(
      --product-card-title-font,
      var(--font-light),
      var(--h4-font-size),
      1.6,
      var(--font-family-secondary)
    );
    color: #428bff;
  }
  &__price{
    justify-content: center;
    
  }
}
</style>
