<template>
  <div class="custom">
    <div class="header-main"></div>
    <div class="section-main">
      <div class="section-main__content">
        <div class="section-main--title">
          LAAT JE DOELGROEP OVERGAAN TOT (TRANS)ACTIE
        </div>
        <div class="section-main--text">
          ShopWorks – hét e-commerce bureau in Utrecht – ontwerpt, realiseert en
          beheert sinds 2011 e-commerce omgevingen. We zijn
          <CustomLink
            :link="{
              href: 'https://www.shopworks.nl/shopware-6-2/',
              type: linkType.small
            }"
            >Shopware</CustomLink
          >
          Enterprise partner en realiseren daarnaast webshops met het
          <CustomLink
            :link="{
              href: 'https://www.shopworks.nl/e-commerce/shopify/',
              type: linkType.small
            }"
            >Shopify platform.</CustomLink
          >
          E-commerce zit in ons hart en in het hart van de organisaties waarvoor
          wij werken. Onze opdrachtgevers zetten e-commerce in als (extra)
          verkoopplatform of juist als kanaal om een goede service te leveren
          aan bestaande én toekomstige klanten. Uiteindelijk draait het om het
          genereren van effect. ShopWorks denkt met je mee en is de partner bij
          het behalen van online succesvol resultaat.
        </div>
      </div>

      <CustomLink
        :link="{
          href: 'https://www.shopworks.nl/portfolio/',
          type: linkType.big
        }"
        >BEKIJK ONS VOLLEDIGE PORTFOLIO</CustomLink
      >
      |
      <CustomLink
        :link="{
          href: 'https://www.shopworks.nl/portfolio/4-seasons-outdoor/',
          type: linkType.big
        }"
        >ONZE LAATSTE SHOPWARE 6 CASE</CustomLink
      >
    </div>
    <HexSection :bgImage="require('~/static/img/panel_1.jpeg')">
      <div class="hex-header">VAN STRATEGISCH DESIGN</div>
      <div class="hex-subheader">TOT CONTENTMARKETING</div>
      <div class="hex-text">
        Het realiseren van een succesvolle e-commerce omgeving is complex. Het
        is veel meer dan een webshop ontwikkelen en wachten totdat consumenten
        je producten zullen aanschaffen. ShopWorks denkt met haar opdrachtgevers
        mee vanaf het eerste moment. Een business cases bedenken, het ontwerpen
        van een nieuw IT landschap en een design concept ontwikkelen, zijn vaak
        de eerste stappen waar ShopWorks haar opdrachtgevers mee helpt. Onze
        multidisciplinaire teams werken nauw samen met de teams van
        verschillende opdrachtgevers. Na de realisatie is het tijd om de
        gestelde doelen daadwerkelijk te gaan bepalen. ShopWorks blijft
        betrokken om enerzijds pro-actief technisch onderhoud te verzorgen en
        daarnaast leren we van alle beschikbare data, zodat we een nog beter
        converterend eindproduct kunnen ontwikkelen.
      </div>
    </HexSection>
    <div class="section-secondary">
      <ImageCard
        :Title="'(TECHNISCH) DESIGN'"
        :Image="require('~/static/img/technisch-design.png')"
        >We weten dat een e-commerce omgeving complex is. Er zijn vaak (nieuwe)
        maatwerk- koppelingen nodig met achterliggende systemen, als ERP, PIM of
        WMS. Wij hebben veel ervaring op dit vlak en gaan geen enkele technische
        uitdaging uit de weg. Ook moeten webshops natuurlijk de consument
        verleiden tot transactie. Onze UX-specialisten ontwerpen
        conversie-gerichte designs.</ImageCard
      >
      <ImageCard
        :Title="'REALISATIE'"
        :Image="require('~/static/img/realisatie.png')"
        >Onze multidisciplinaire teams werken tijdens de realisatie nauw samen
        met de klant. Bij de ontwikkeling van een e-commerce omgeving denken we
        out-of-the-box. We dagen elkaar en onze opdrachtgevers uit om de kracht
        en potentie van e-commerce te ontdekken. De content studio van van
        ShopWorks biedt ondersteuning bij het ontwikkelen en/of invoeren van
        content.</ImageCard
      >
      <ImageCard
        :Title="'PROACTIEF BEHEER'"
        :Image="require('~/static/img/onderhoud.png')"
        >Na de realisatie van een project, wordt de nieuwe shop gelanceerd. We
        denken mee over de campagne om direct indruk te maken op de markt.
        Vervolgens staan we klaar om te zorgen dat performance optimaal is en
        gaan we samen met onze opdrachtgevers op basis van data leren wat leidt
        tot de beste conversie. We onderhouden de software proactief en bewaken
        daarmee de economische waarde van de applicatie.</ImageCard
      >
    </div>

    <HexSection :bgImage="require('~/static/img/panel_2.png')">
      <div class="hex-header">B2B, D2C EN</div>
      <div class="hex-subheader">B2C E-COMMERCE</div>
      <div class="hex-text">
        De inzet van een online kanaal biedt jou én de (eind)klant vele
        voordelen. Onze opdrachtgevers vernieuwen hun service, starten een
        verkoopplatform voor consumenten, of zij vergroten het bereik door het
        tonen van de catalogus aan elke geïnteresseerde en besparen kosten met
        de inzet van een ERP-koppeling. <br />
        <br />
        Denk je erover om je bestaande webshop te optimaliseren en naar een
        hoger level te brengen? Of ben je klaar een nieuwe webshop te starten?
        ShopWorks adviseert je graag over de mogelijkheden, maar belangrijker
        nog, over de resultaten die je kunt bereiken met dit (extra)
        verkoopkanaal. Denk bijvoorbeeld ook eens aan omni- en multichannel
        e-commerce. Lees meer over onze mogelijkheden met Shopware, Shopify en
        custom ontwikkeling.
      </div>
    </HexSection>
    <div class="section-last">
      <HexButton
        :Position="{ top: 50, left: 0 }"
        :Clickable="false"
      ></HexButton>
      <HexButton
        :Position="{ top: 35.5, left: 177 }"
        :Clickable="false"
      ></HexButton>
      <HexButton
        :Position="{ top: 64.5, left: 177 }"
        :Clickable="true"
        :Color="'#F9B201'"
        :Image="require('~/static/img/maurikssolutions-logo-main.png')"
        :Link="'https://www.shopworks.nl/portfolio/mauriks-solutions/'"
      ></HexButton>
      <HexButton
        :Position="{ top: 50, left: 355 }"
        :Clickable="true"
        :Color="'#B12841'"
        :Image="
          require('~/static/img/LOGO-4-seasons-outdoor.zwarte-letters.png')
        "
        :Link="'https://www.shopworks.nl/portfolio/4-seasons-outdoor/'"
      ></HexButton>
      <HexButton
        :Position="{ top: 35.5, left: 532 }"
        :Clickable="true"
        :Color="'#FFDE01'"
        :Image="require('~/static/img/brewfinder.-logo-2.1.png')"
        :Link="'https://www.shopworks.nl/portfolio/brewfinder/'"
      ></HexButton>
      <HexButton
        :Position="{ top: 64.5, left: 532 }"
        :Clickable="false"
      ></HexButton>
      <HexButton
        :Position="{ top: 50, left: 710 }"
        :Clickable="true"
        :Color="'#8D7575'"
        :Image="require('~/static/img/logo-zwart-deblon-sports.-png.png')"
        :Link="'https://www.shopworks.nl/portfolio/deblonsports/'"
      ></HexButton>
      <HexButton
        :Position="{ top: 35.5, left: 888 }"
        :Clickable="true"
        :Color="'#F99329'"
        :Image="require('~/static/img/rijksmuseum.png')"
        :Link="'https://www.rijksmuseumshop.nl/nl/'"
      ></HexButton>
      <HexButton
        :Position="{ top: 50, left: 1066 }"
        :Clickable="true"
        :Color="'#F15A31'"
        :Image="require('~/static/img/emm-logo-1.1.png')"
        :Link="'https://www.shopworks.nl/portfolio/emm-international/'"
      ></HexButton>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import CustomLink, { linkType } from "../components/custom/Link.vue";
import HexSection from "../components/custom/HexSection.vue";
import ImageCard from "../components/custom/ImageCard.vue";
import HexButton from "../components/custom/HexButton.vue";
import SwFooter from "../components/SwFooter.vue";
import ProductCard from "../components/custom/ProductCard.vue";

@Component({
  components: {
    CustomLink,
    HexSection,
    ImageCard,
    HexButton,
    SwFooter,
    ProductCard
  }
})
export default class index extends Vue {
  linkType = linkType;
}
</script>

<style lang="scss" >
@import "../assets/scss/customvariables";
@import "../assets/scss/variables";
.custom {
  font-family: "Open Sans", sans-serif;
  transform: translateY(-170px);
  background-color: $color-bg;
  overflow: hidden;
  width: 100%;
}
.header {
  &-main {
    background-image: url("../static/img/header-main.jpeg");
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    @include for-desktop {
      min-height: 700px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
    }
  }
}
.section {
  &-main {
    margin: 4rem auto 12rem;
    text-align: center;
    font-size: 1.4rem;

    width: 100%;

    &__content {
      min-width: 300px;
      margin: 0.5rem auto 1rem;
      padding: 0.1rem;
      @include for-desktop {
        width: 50%;
        padding: 0;
        margin: 2rem auto;
      }
    }
    &--title {
      font-size: 1.4rem;
      line-height: 1.4rem;
      font-weight: 700;
      @include for-desktop {
        font-size: 1.7rem;
      }
    }
    &--text {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
  &-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15rem auto;
    text-align: center;
    font-size: 2rem;
    @include for-desktop {
      flex-direction: row;
      margin: 20rem auto;
    }
  }
  &-last {
    position: relative;
    top: 50%;
    min-height: 700px;
    width: 100%;
    a {
      &:nth-child(1) {
        top: 50%;
        left: 0;
      }
      &:nth-child(2) {
        top: 35.5%;
        left: 177px;
      }
      &:nth-child(3) {
        top: 64.5%;
        left: 177px;
      }
      &:nth-child(4) {
        top: 50%;
        left: 355px;
      }
      &:nth-child(5) {
        top: 35.5%;
        left: 532px;
      }
      &:nth-child(6) {
        top: 64.5%;
        left: 532px;
      }
      &:nth-child(7) {
        top: 50%;
        left: 710px;
      }
      &:nth-child(8) {
        top: 35.5%;
        left: 888px;
      }
      &:nth-child(9) {
        top: 50%;
        left: 1066px;
      }
    }
    @media (max-width: 1400px) {
      min-height: 700px;
      a {
        &:nth-child(1) {
          top: 50%;
          left: 0;
        }
        &:nth-child(2) {
          top: 35.5%;
          left: 177px;
        }
        &:nth-child(3) {
          top: 64.5%;
          left: 177px;
        }
        &:nth-child(4) {
          top: 50%;
          left: 355px;
        }
        &:nth-child(5) {
          top: 35.5%;
          left: 532px;
        }
        &:nth-child(6) {
          top: 64.5%;
          left: 532px;
        }
        &:nth-child(7) {
          top: 50%;
          left: 710px;
        }
        &:nth-child(8) {
          top: 35.5%;
          left: 888px;
        }
        &:nth-child(9) {
          top: 64.5%;
          left: 888px;
        }
      }
    }
    @media (max-width: 1200px) {
      min-height: 700px;
      a {
        &:nth-child(1) {
          top: 50%;
          left: 0;
        }
        &:nth-child(2) {
          top: 35.5%;
          left: 177px;
        }
        &:nth-child(3) {
          top: 64.5%;
          left: 177px;
        }
        &:nth-child(4) {
          top: 50%;
          left: 355px;
        }
        &:nth-child(5) {
          top: 35.5%;
          left: 532px;
        }
        &:nth-child(6) {
          top: 64.5%;
          left: 532px;
        }
        &:nth-child(7) {
          top: 50%;
          left: 710px;
        }
        &:nth-child(8) {
          top: 550px;
          left: 0;
        }
        &:nth-child(9) {
          top: 550px;
          left: 355px;
        }
      }
    }
    @media (max-width: 1000px) {
      min-height: 700px;
      a {
        &:nth-child(1) {
          top: 50%;
          left: 0;
        }
        &:nth-child(2) {
          top: 35.5%;
          left: 177px;
        }
        &:nth-child(3) {
          top: 64.5%;
          left: 177px;
        }
        &:nth-child(4) {
          top: 50%;
          left: 355px;
        }
        &:nth-child(5) {
          top: 35.5%;
          left: 532px;
        }
        &:nth-child(6) {
          top: 64.5%;
          left: 532px;
        }
        &:nth-child(7) {
          top: 650px;
          left: 177px;
        }
        &:nth-child(8) {
          top: 550px;
          left: 0;
        }
        &:nth-child(9) {
          top: 550px;
          left: 355px;
        }
      }
    }
    @media (max-width: 800px) {
      min-height: 700px;
      a {
        &:nth-child(2n + 1) {
          left: 0;
        }
        &:nth-child(2n) {
          left: 177px;
        }
        &:nth-child(1) {
          top: 250px;
          display: none;
        }
        &:nth-child(2) {
          top: 350px;
          display: none;
        }
        &:nth-child(3) {
          top: 250px;
        }
        &:nth-child(4) {
          top: 350px;
        }
        &:nth-child(5) {
          top: 450px;
        }
        &:nth-child(6) {
          top: 550px;
        }
        &:nth-child(7) {
          top: 650px;
        }
        &:nth-child(8) {
          top: 450px;
          left: 354px;
        }
        &:nth-child(9) {
          top: 250px;
          left: 354px;
        }
      }
    }
    @media (max-width: 600px) {
      width: 50%;
      min-height: 900px;
      a {
        &:nth-child(2n + 1) {
          left: 0;
        }
        &:nth-child(2n) {
          left: 177px;
        }
        &:nth-child(1) {
          top: 250px;
          display: none;
        }
        &:nth-child(2) {
          top: 350px;
          display: none;
        }
        &:nth-child(3) {
          top: 250px;
        }
        &:nth-child(4) {
          top: 350px;
        }
        &:nth-child(5) {
          top: 450px;
        }
        &:nth-child(6) {
          top: 550px;
        }
        &:nth-child(7) {
          top: 650px;
        }
        &:nth-child(8) {
          top: 750px;
        }
        &:nth-child(9) {
          top: 850px;
        }
      }
    }
  }
  &-products {
    text-align: center;
    display: block;
    align-content: center;
    overflow: hidden;
    width: 100%;
    height: 500px;
    @include for-desktop {
      height: 800px;
    }
  }
  &-list {
    width: 80vw;
    max-width: 1240px;
    margin: auto;
  }
}
</style>
