<template>
  <div class="footer">
    <div class="footer-section">
      <div class="footer--title">INFO</div>
      <a
        href="https://www.shopworks.nl/shopware-in-gartner-magic-quadrant/"
        class="footer--link"
      >
        Shopware in Gartner Magic Quadrant</a
      >
      <a href="https://www.shopworks.nl/team/nieuws/" class="footer--link"
        >Nieuws</a
      >
      <a href="https://www.shopworks.nl/nieuwsbrief/" class="footer--link"
        >Nieuwsbrief inschrijven</a
      >
      <a
        href="https://www.shopworks.nl/algemene-voorwaarden-disclaimer/"
        class="footer--link"
        >Alegemen Voorwarden & Disclaimer</a
      >
      <a href="https://www.shopworks.nl/privacy/" class="footer--link"
        >Privacy</a
      >
    </div>
    <div class="footer-section">
      <div class="footer--title">BEZOEK ONS</div>
      <div class="footer--text">Nijverheidsweg 16</div>
      <div class="footer--text">3534 AM UTRECHT</div>
      <a href="tel:0886480401" class="footer--link">0886480401</a>
      <a href="mailto:info@shopworks.nl" class="footer--email"
        >info@shopworks.nl</a
      >
    </div>
  </div>
</template>

<script>
import SwPluginSlot from "sw-plugins/SwPluginSlot";
import SwFooterNavigation from "@shopware-pwa/default-theme/components/organisms/SwFooterNavigation";

export default {
  name: "SwFooter",
  components: {
    SwPluginSlot,
    SwFooterNavigation
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables";
@import "@/assets/scss/customvariables.scss";
.footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 4rem;
  width: 100%;
  background-color: $color-bg;
  &-section {
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 200px;
    line-height: 1rem;
    margin: 1rem;
    @include for-desktop {
      margin: 2rem;
    }
  }
  &--title {
    font-weight: 600;
  }
  &--link,
  &--text {
    margin: 0.5rem 0;
  }
  &--email {
    color: $color-main;
    font-weight: 600;
    margin: 0.5rem 0;
    &:hover {
      color: lighten($color-main, 10);
    }
  }
}
</style>
