<template>
  <div class="sw-login" @keyup.enter="invokeLogin">
    <SwPluginSlot name="login-form-before" />
    <div class="form sw-login__form">
      <SfAlert
        v-if="userError"
        class="sw-login__alert"
        type="danger"
        :message="userError"
        data-cy="login-alert"
      />
      <SwInput
        v-model="email"
        name="email"
        label="Your email"
        class="sw-form__input"
        type="email"
        :valid="!$v.email.$error"
        :disabled="isLoading"
        error-message="Email is required"
        data-cy="email-input"
        @blur="$v.email.$touch()"
      />
      <SwInput
        v-model="password"
        name="password"
        label="Password"
        type="password"
        class="sw-form__input"
        :valid="!$v.password.$error"
        :disabled="isLoading"
        error-message="Password is required"
        data-cy="password-input"
        @blur="$v.password.$touch()"
      />
      <SwPluginSlot name="login-form-button">
        <SwButton
          class="sf-button--full-width sw-form__button"
          :disabled="isLoading"
          data-cy="submit-login-button"
          @click="invokeLogin"
        >
          Log in
        </SwButton>
      </SwPluginSlot>
    </div>
  </div>
</template>

<script>
import { SfAlert } from "@storefront-ui/vue";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import { useUser } from "@shopware-pwa/composables";
import SwPluginSlot from "sw-plugins/SwPluginSlot";
import SwButton from "@/components/atoms/SwButton";
import SwInput from "@/components/atoms/SwInput";
import Vue from "vue";

export default {
  name: "SwLogin",
  components: { SwButton, SwInput, SfAlert, SwPluginSlot },
  mixins: [validationMixin],
  data() {
    return {
      email: "",
      password: ""
    };
  },
  setup(props, { root }) {
    const { login, loading, isLoggedIn, error: userError } = useUser(root);
    return {
      clientLogin: login,
      isLoading: loading,
      isLoggedIn,
      userError
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  methods: {
    async invokeLogin() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      const loggedIn = await this.clientLogin({
        username: this.email,
        password: this.password
      });

      if (loggedIn) {
        this.$emit("success");
        this.$cookie.set("loggedin", true, { expires: "1D" });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/forms";

.sw-login {
  &__alert {
    margin-bottom: var(--spacer-base);
  }
}
</style>
